@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: rgb(19,18,23);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* general styles */
main {
    min-width: 375px;
    max-width: fit-content;
    width: 50%;
    margin: 0 auto;
}
header {
    font-size: 2rem;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    color: #e8e7ef;
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-style: normal;
}
.input-box-display {
    background-color: rgba(36,35,43,255);
    margin-bottom: 20px;
    padding-inline-end: 10px;
}
.main-settings-display{
    background-color: rgba(36,35,43,255);
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-style: normal;
    color: #e8e7ef;
    padding-bottom: 20px;
}

/* input sections styles */
.input-box-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-box-display input {
    padding: 15px;
    background-color: transparent;
    border: none;
    color: #e8e7ef;
    font-size: 1.5rem;
}
.input-box-display input:placeholder-shown {
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-style: normal;
}
.input-box-display input:focus {
    outline: none;
}
.input-box-display input:hover {
    background-color: rgba(24,23,31,255);
}
/* General settings section styles */
.character-length-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 15px;
    padding-block: 15px;
    letter-spacing: 1px;
}
.range {
    width: 93%;
    margin-left: 3.5%;
    margin-right: 3.5%;
    margin-block: 15px;
}
.options-list {
    padding-left: 15px;
    margin-bottom: 20px;
}
.strength-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(24,23,31,255);
    width: 85%;
    margin: 0 auto;
    padding: 15px;
}
.strength-scale {
    display: flex;
    gap: 10px;
}
.stage1,
.stage2,
.stage3,
.stage4 {
    width: 5px;
    height: 20px;
    background-color: rgba(24,23,31,255);
    color: rgba(24,23,31,255);
    border: 2px solid #a4ffaf ;
}
/* Main button styles */
.main-button-section {
    background-color: rgba(36,35,43,255);
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}
button {
    width: 92%;
    padding-block: 10px;
    background-color: hsl(126, 86%, 77%);
    color: black;
    font-family: "Rakkas", serif;
    font-style: normal;
    letter-spacing: 2px;
    border: none;
}
button:hover {
    color: white;
    background-color: hsl(128, 100%, 28%);
}